

body{
    background: linear-gradient(to right, #ff7e5f, #feb47b, #f69c64);  
    
}

.music-player {
    font-size: 16px;
    width: 80vw;
    max-width: 400px;
    background-color: aliceblue;
    padding: 40px 40px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(50, 200, 100, 0.7);
    border-radius: 15px;
}


img {
    width: 100%;
    margin-top: 1.25em;
    border-radius: 1em;
    max-height: 200px;
    object-fit: cover;
}

#playlist {
    float: right;
    background-color: transparent;
    border: none;
}

#song-name{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

#song-artist {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
 
}

.player-options{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    margin: 25px 25px;
    padding: 20px 20px;
    align-items: center;

}
.player-options button {
    border: none;
    background-color: transparent;
}

#play,
#pause {
    background: linear-gradient(to right, #ff7e5f, #feb47b, #f69c64);
    height: 2.5em;
    width: 2.5em;
    font-size: 1.8em;
    color: white;
    border-radius: 50%;
}


#prev,
#next
{
    height: 2.5em;
    width: 2.5em;
    font-size: 1.8em;
}

#shuffle,
#repeat{
    font-size: 1.2em; 
}

#progress-bar {
width: 100%;
  height: 5px;
  background-color: #ddd;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}

#current-progress {
    width: 50%; /* Varsayılan olarak yarısı kadar genişlik */
    height: 100%;
    background-color: #007bff; /* Örnek ilerleme çubuğu rengi */
    border-radius: 10px;
}

.time-container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
   
}

.hide{
    display: none;
}

#playlist-container{
    background: #fcd9be;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    scroll-behavior: smooth;
}


#close-button{
    float: right;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.fa-angle-down{
    cursor: pointer;
}

ul{
    list-style-type: none;
    
}
i{
    cursor: pointer;
}
li{
    display: flex;
    align-items: center;
    margin: 1rem 0;
   
    cursor: pointer;
}

.playlist-song-details{
    margin: 1rem;
}

.playlist-image-container{
    width: 4em;
    margin-left: 10px;
}

.playlist-song-details > span{
    display: block;
}

#playlist-song-artist-album{
    color: gray;
}

button.active i{
    color: blue;
}

@media (max-width: 576px){
    .music-player{
        font-size: 14px;
    }
}









